* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input, button {
  font: inherit;
  border: none;
  outline: none;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

body #root {
  overflow-x: hidden;
  position: relative;
}

@media only screen and (min-width: 786px) {
  #root {
    background-color: #3450a1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-section {
  width: 100%;
  height: 80vh;
  padding: 2rem 4.5rem 0;
  background-color: #3450a1;
  border-radius: 2rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: -95%;
  top: 10vh;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-section .close-main-section {
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 2.5rem;
}

.main-section .list-content {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.5rem;
}

.main-section .list-content .list-header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .list-content .list-header h2 {
  -ms-grid-column: 1;
  grid-column: 1;
  color: white;
  font-size: 1.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: 2s;
  transition: 2s;
}

.main-section .list-content .list-header h2:hover {
  white-space: normal;
  -webkit-transition: 2s;
  transition: 2s;
}

.main-section .list-content .list-header .list-btn {
  -ms-grid-column: 2;
  grid-column: 2;
}

.main-section .list-content .list-header .list-btn button {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-section .list-content .list-header .list-btn .bookmark.active {
  background-color: #f0f018;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-section .list-content .list-header .list-btn .delete {
  background-color: #ff1414;
}

.main-section .list-content .input-task input {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #041955;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.4);
  color: white;
}

.main-section .list-content .input-task input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.main-section .list-content .input-task input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.main-section .list-content .input-task input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.main-section .list-content .input-task input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.main-section .list-content ul {
  max-height: 16.5rem;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  overflow: auto;
}

.main-section .list-content .statistic {
  padding: 1rem;
  background-color: #041955;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-section .list-content .statistic button {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-section .list-content .statistic button.active {
  color: #237bff;
  -webkit-transform: scale(1.15) translate(0);
          transform: scale(1.15) translate(0);
}

.main-section .list-content .statistic button:hover {
  -webkit-transform: scale(1.15) translate(0);
          transform: scale(1.15) translate(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-section.active {
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
  opacity: 1;
  pointer-events: all;
}

.main-section.open {
  height: 100vh;
  border-radius: 0;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (min-width: 786px) {
  .main-section {
    height: 100vh;
    width: 70%;
    padding: 4.5rem 8.5rem 0;
    border-radius: 0;
    right: 0;
    top: 0;
  }
  .main-section .close-main-section {
    display: none;
  }
}
/*# sourceMappingURL=MainSection.css.map */