* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

input, button {
  font: inherit;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

body #root {
  position: relative;
}

#menu {
  width: 100%;
  min-height: 100vh;
  background-color: #041955;
  padding: 4.5rem 0 0 4.5rem;
  color: white;
}

#menu .container {
  height: 80vh;
  width: 80%;
}

#menu .container .open-main-section-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#menu .container .open-main-section-btn .open-main-section {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: #1f336e solid 2px;
  border-radius: 100%;
  color: white;
  font-size: 1.25rem;
}

#menu .container .avatar img {
  height: 7.5rem;
  width: 7.5rem;
  margin-bottom: 1rem;
  border-radius: 100%;
}

#menu .container .avatar h1 {
  font-size: 2.5rem;
}

#menu .container .input-list {
  height: 3.6rem;
  margin-top: 1rem;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

#menu .container .input-list button {
  height: 3rem;
  width: 3rem;
  background-color: #eb06ff;
  border: none;
  border-radius: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  position: absolute;
  top: 0.3rem;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#menu .container .input-list button:hover {
  -webkit-box-shadow: 0 0 5px 0 #eb06ff;
          box-shadow: 0 0 5px 0 #eb06ff;
}

#menu .container .input-list button.active {
  -webkit-box-shadow: 0 0 5px 0 #eb06ff;
          box-shadow: 0 0 5px 0 #eb06ff;
  left: 0.3rem;
  -webkit-transform: rotate(45deg) scale(1.2);
          transform: rotate(45deg) scale(1.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#menu .container .input-list input {
  width: 100%;
  height: 3rem;
  padding-left: 4rem;
  border: none;
  border-radius: 10rem;
  outline: none;
  position: relative;
  right: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#menu .container .input-list input.active {
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#menu .container ul {
  height: 14.25rem;
  margin-top: 1rem;
  overflow: auto;
}

#menu .container ul li {
  margin-bottom: 1rem;
}

#menu .container ul li button {
  width: 100%;
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu .container ul li button h2 {
  width: 90%;
  color: white;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#menu .container ul li button span {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: transparent;
}

#menu .container ul li button span.active {
  color: #f0f018;
}

#menu .container ul li button:hover h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

#menu .container ul li.active button {
  background-color: #3450a1;
}
/*# sourceMappingURL=Menu.css.map */