* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input, button {
  font: inherit;
  border: none;
  outline: none;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

body #root {
  overflow-x: hidden;
  position: relative;
}

@media only screen and (min-width: 786px) {
  body #root {
    background-color: #3450a1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-section li {
  padding: 1rem;
  background-color: #041955;
  border: #1f336e solid;
  border-width: 1px 0;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3rem 1fr auto;
      grid-template-columns: 3rem 1fr auto;
}

.main-section li .checkbox {
  height: 2rem;
  width: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#237bff), to(#eb06ff));
  background-image: linear-gradient(#237bff, #eb06ff);
  border-radius: 10rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-section li .checkbox ion-icon {
  display: none;
}

.main-section li .checkbox:before {
  content: "";
  height: calc(2rem - 4px);
  width: calc(2rem - 4px);
  background-color: #1f336e;
  border-radius: 10rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-section li h3 {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2rem;
}

.main-section li h3:hover {
  white-space: normal;
}

.main-section li .task-menu {
  margin-left: 0.5rem;
  border-radius: 10rem;
  position: relative;
}

.main-section li .task-menu .task-menu-toggler {
  height: 2rem;
  width: 2rem;
  border-radius: 10rem;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-section li .task-menu .task-menu-toggler.active, .main-section li .task-menu .task-menu-toggler:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-section li .task-menu .task-options {
  background-color: #1f336e;
  border-radius: 0.5rem;
  display: none;
  position: absolute;
  top: 50%;
  right: 105%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
}

.main-section li .task-menu .task-options button {
  padding: 0.75rem 1rem;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-section li .task-menu .task-options button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-section li .task-menu .task-options .update {
  border-radius: 0.5rem 0 0 0.5rem;
}

.main-section li .task-menu .task-options .delete {
  border-radius: 0 0.5rem 0.5rem 0;
}

.main-section li .task-menu .task-options.active {
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section .update-task {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.main-section .update-task input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

li.completed .checkbox {
  background-image: none;
}

li.completed .checkbox ion-icon {
  display: block;
}

li.completed .checkbox:before {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#237bff), to(#eb06ff));
  background-image: linear-gradient(#237bff, #eb06ff);
}

li.completed h3 {
  color: #a0a0a0;
  text-decoration: line-through;
}

li.hide {
  display: none;
}
/*# sourceMappingURL=Task.css.map */