@import "reset";
@import "variables";

body {
    font-family: 'Roboto', sans-serif;

    #root {
        overflow-x: hidden;
        position: relative;
    }
}

@media only screen and (min-width: 786px) {
    body {
        #root {
            background-color: $background;
            display: flex;
        }
    }
}