// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$primary: rgb(4, 25, 85);
$primary-variant: rgb(31, 51, 110);
$on-primary: rgb(255, 255, 255);
$on-primary-variant: rgb(160, 160, 160);

$background: rgb(52, 80, 161);
$on-background: rgb(255, 255, 255);

$secondary: rgb(235, 6, 255);
$secondary-variant: rgb(35, 123, 255);
$on-secondary: rgb(255, 255, 255);

$gradient: linear-gradient(rgb(35, 123, 255), rgb(235, 6, 255));

$delete: rgb(255, 20, 20);
$star: rgb(240, 240, 24);

// Animations
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}